body{
	margin: 0px;
}

.cekbox{
	margin-top: 5px;
}

.top-navbar{
	background-color: #f5f5f5;
	margin: 2px;	
}

.sidemenu{
	margin-left: 30px;
	background-color: #BDBDBD;
	border-radius: 4px;

}
.kontenrumah{
	margin-left: 20px;
	background-color: #BDBDBD;
	border-radius: 4px;
}
.modal-content{
	border: 1px solid red;
}
.modalgambar{
	border-radius: 4px;
}
.modalinfo{
	padding-left: 5px;
	border-radius: 4px;
}
